@import "tailwindcss";

:root {
  --primary-bg: #E5E5E5;
  --secondary-bg: #000000;

  --primary-text: #000000;
  --secondary-text: #7A7A7A;

  --accent: #FFFFFF;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 88px;
  /* Offset for the sticky header */
}

body {
  background-color: #f8fafc;
  /* slate-50 */
  color: #334155;
  /* slate-700 */
  -webkit-font-smoothing: antialiased;
}

/* Custom scrollbar to keep it clean and match cyan theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e2e8f0;
}

::-webkit-scrollbar-thumb {
  background: #a5a9ae;
  /* slate-600 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
  /* slate-700 */
}